/* styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #74ebd5, #ACB6E5);
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-form h2 {
    margin-bottom: 24px;
    color: #333;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 6px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    color: #555;
    transition: all 0.3s ease;
}

.input-group input:focus {
    border-color: #74ebd5;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 217, 255, 0.5);
}

button {
    width: 100%;
    padding: 14px;
    background-color: #74ebd5;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #63d0d1;
}

.message {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
}

.message a {
    color: #74ebd5;
    text-decoration: none;
    font-weight: bold;
}

.message a:hover {
    text-decoration: underline;
}
