.shopcategory-banner{
    display: flex;
    margin: 30px auto;
    width: 80%;
}
.shopcategory-indexSort{
    display: flex;
    margin: 0px 150px;
    justify-content: space-between;
    align-items: center;
}
.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shopcategory-indexSort p span{
    font-weight: 400;
}
.shopcategory-products{
    margin: 20px 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.shopcategory-products img{
    /* height: 80%; */
    width: 80%;
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 150px;
    height: 50px;
    border-radius: 70px;
    background: #ededed;
    color: #787878;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}